body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#dialogeBar{
    bottom: 0px;
    left: 0px;
    width: 800px;
    height: 64px;
}

#dialogContent{
    position: relative;
    width: 800px;
    height: 64px;
}

#mainCharacterSpeach{
    top: 0px;
    left: 80px;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    left: 326px;
    top: 560px;
}

#door{
    width: 34px;
    height: 52px;
    left: 136px;
    top: 133px;
}

#openChest{
    width: 13px;
    height: 13px;
    left: 717px;
    top: 112px;
}

#lockedChest{
    width: 13px;
    height: 13px;
    left: 717px;
    top: 142px;
}

#rock{
    width: 52px;
    height: 23px;
    left: 120px;
    top: 280px;
}

#brownBar{
    background-color: rgb(150, 113, 71);
    width: 800px;
    height: 40px;
    bottom: 0px;
}

#counterSpeech {
    top: 0px;
    right: 80px;
}

#counterCharacter {
    top: 0px;
    right: 0px;
    opacity: 0;
}

.speachBublle{
    background-color: #FFF;
    border-radius: 60px;
    color: #000;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    opacity: 1;
    width: 300;
    transition: all 1s ease-in-out;
}

.gameobject{
    position: absolute;
    transition: all 1s ease-in-out;
}

.forground{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}